*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  color: white;
}
a:hover {
  color: #dbdbdb;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-100 {
  border: 1px solid #000000;
}

figure {
  height: 150px;
}

figure img {
  height: 150px;
  width: 300px;
}

.blog .carousel-indicators {
  margin: 0 auto;
  position: absolute;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

body {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

header {
  padding: 10px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  margin: 0 auto;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 50px;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../images/showcase.png");
  background-size: cover;
}
.showcase .showcaseText {
  display: flex;
  flex-direction: column;
}
.showcase .showcaseText * {
  font-family: monospace;
  font-weight: bolder;
}
.showcase .los {
  color: #4d4d4e;
  font-size: 90px;
}
.showcase .moun {
  color: #3c4c65;
  margin-top: -20px;
  font-size: 100px;
}

.devider {
  padding: 20px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.devider .logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.devider .logoContainer div {
  display: flex;
  flex-direction: column;
}
.devider ul {
  display: flex;
}
.devider ul li {
  margin-right: 50px;
}
.devider ul li a {
  color: black;
}
.devider img {
  width: 50px;
}

.history {
  position: relative;
  background-image: url("../../images/mountain.png");
  height: 120vh;
  background-size: cover;
}
.history article {
  padding-top: 30px;
  width: 60%;
  margin: 0 auto;
}

.heading {
  display: flex;
}
.heading .title-number {
  font-size: 110px;
  font-weight: 600;
  color: #414f6b;
  margin-right: 10px;
  opacity: 0.5019607843;
}
.heading .dot {
  width: 20px;
  height: 20px;
  background-color: #414f6b;
  opacity: 0.5019607843;
}
.heading .title-text {
  color: #283244;
  height: fit-content;
  margin-top: 55px;
  font-weight: 700;
  font-size: 24px;
}

.carousel {
  padding: 20px;
  padding-bottom: 40px;
  background-color: #414f6b;
}

.team {
  height: 100vh;
}

.team-title {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}

.team-title-text {
  margin-left: 30px;
}

.tags {
  background-color: #414f6b;
}
.tags ul {
  width: 70%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.tags li {
  margin-right: 25px;
  font-size: 46px;
  color: #b0b4be;
  font-weight: bolder;
}
.tags li:first-child {
  background-color: #b0b4be;
  color: #414f6b;
  text-decoration: underline;
}

.schedule {
  background-image: url("../../images/schedule.png");
  background-size: cover;
  background-position: center;
  height: 70%;
  position: relative;
}
.schedule article {
  width: 200px;
  position: absolute;
  top: 20%;
  left: 10%;
  border: 1px solid black;
  background-color: white;
  padding: 5px 25px;
}
.schedule article #child {
  z-index: 3;
}
.schedule article #child div {
  display: flex;
  justify-content: space-between;
}
.schedule article h1 {
  font-size: 24px;
  font-weight: bolder;
  font-family: monospace;
  color: #414f6b;
}

/*# sourceMappingURL=style.css.map */
