.cta-100 {
  border: 1px solid #000000;
}

figure {
  height: 150px;
}

figure img {
  height: 150px;
  width: 300px;
}

.blog .carousel-indicators {
  margin: 0 auto;
  position: absolute;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.accordeon-container {
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-size: 15px;
    text-align: center;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    figure,
    img {
      width: 100%;
      height: 200px;
      object-fit: fill;
    }
  }

  @media only screen and (min-width: 900px) {
    display: none;
  }
}
